* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  padding: 5rem;
  background-image: url(../images/fundo.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;

  font-family: "Spartan", sans-serif;
  font-size: 45px;
  margin-bottom: 2rem;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.btnStart {
  font-family: "Spartan", sans-serif;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  background-color: grey;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.btnStart:hover {
  transition: 1s;
  background-color: rgb(148, 148, 148);
}

.main {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-device-width: 480px) {
  body {
    height: 100vh;
    padding: 5rem;
  }

  .btnStart {
    width: 20rem;
    height: 5rem;
  }
}