.mainall {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  color: white;

  font-family: "Spartan", sans-serif;
  font-size: 80px;
}
h2 {
  color: white;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.btnStart {
  font-family: "Spartan", sans-serif;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  background-color: grey;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
}
.btnStart:hover {
  transition: 1s;
  background-color: rgb(148, 148, 148);
}
body {
  background-image: url(./images/fundo.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}
.main {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
